#leftFrog, #rightFrog {
    position: fixed;
    width: 120px;
    top: 50%;
    transform: translateY(-50%);
    animation: bounce 1.5s infinite alternate;
}

/* Sol taraftaki kurbağa */
#leftFrog {
    left: 10px;
}

/* Sağ taraftaki kurbağa */
#rightFrog {
    right: 10px;
}

/* Kurbağalara hafif zıplama efekti */
@keyframes bounce {
    0% { transform: translateY(-50%) scale(1); }
    100% { transform: translateY(-50%) scale(1.1); }
}
